* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(43, 43, 43);
    background-color: #cacaca;
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #555555;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #333333;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

#background {
    background-image: url("../images/background.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navbarParent {
    transition: .5s;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: .8rem 1rem;
    width: 100vw;
}


html:not([data-scroll="0"]) #navbarParent {
    transition: .5s;
    background-color: #fff;
    box-shadow: 0 0 .5em rgba(0, 0, 0, .7);
    height: 60px;
}

html:not([data-scroll="0"]) a {
    color: #000;
}


#openCloseButton {
    display: none;
}

#navbar div {
    margin: .4rem;
}

#navbar a {
    margin-top: .4rem;
    margin-bottom: .4rem;
    margin-left: .8rem;
    margin-right: .8rem;
    font-size: 1.1rem;
}

#navbar a:hover {
    opacity: 0.5;
    transition: .4s;
}

#mobileNavOpenButton img {
    margin-top: 0.15rem;
}

#mobileNavOpenButton img:hover {
    margin-top: 0.6rem;
    opacity: 0.5;
    transition: .3s;
}

#mobileNavOpenButton {
    display: none;
}

#mobileNavCloseButton {
    padding: 18px;
    padding-bottom: .2rem;
}

#mobileNavCloseButton:hover {
    opacity: 0.4;
    transition: .4s;
    padding-top: .7rem;
    padding-bottom: .5rem;
}

#mobileDropDownNav {
    display: none;
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 2500;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    background-color: rgba(18, 18, 18, 0.985);
    overflow-y: hidden;
    transition: 0.5s;
}

#mobileDropDownNavContent {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

#mobileNavLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mobileNavLinks a {
    padding: 12px;
    font-size: 2rem;
    transition: 0.4s;
    color: #fff;
    width: 100%;
}

#mobileNavLinks a:hover {
    opacity: 0.4;
}

.accounts-position {
    position: absolute;
    bottom: .25rem;
}

#accounts {
    display: flex;
    flex-direction: row;
    padding: .2rem 1rem .2rem 1.05rem;
    background-color: rgba(15, 15, 15, 0.4);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border-radius: 8px;
}

.accountLink {
    display: flex;
    align-items: center;
    justify-content: center;
}

.accountSvg {
    padding: .35rem .3rem .25rem;
    margin: .1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accountSvg img:hover {
    opacity: .4;
    transition: .4s;
}

.accountImageSize {
    width: 32px;
}

.responsiveImage {
    width: 100%;
    max-width: 250px;
    height: auto;
    margin-bottom: 1.5rem;
    border-radius: 8px;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mkzImage {
    text-align: center;
}

#mainPageSection {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.8rem;
    background-color: rgba(44, 44, 44, 0.4);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border-radius: 8px;
}

#mainHeader h1 {
    font-weight: bold;
    font-size: 2.1rem;
    text-align: center;
}

#mainInfo p{
    font-size: 1.1rem;
    text-align: center;
}

#mainInfo p:first-child{
    margin-bottom: .3rem;
}

#education {
    background-color: #181818;
    padding: 1.6rem;
    color: #fff;
}

#educationHead h1 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: .7rem;
}

#educationBody ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#educationBody li {
    width: 100%;
    height: 210px;
    margin: .6rem;
    text-align: center;
    background-color: rgba(44, 44, 44, 0.4);
    border-radius: 8px;
    padding: 1rem 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#educationBody h2 {
    padding: .4rem 0;
}

#projects {
    padding: 1.6rem 1.6rem .1rem 1.6rem;
}

#projectsHead h1 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
}

#projectsBody #projectListParent {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
}

#projectsBody #projectListParent #projectListItemHolder {
    display: inline-block;
    position: relative;
    padding-bottom: 1.8rem;
}

#projectListItemHolder #date {
    position: absolute;
    padding: 0 .7rem;
    bottom: 1.8rem;
    width: 100%;
    right: 0;
    font-size: 18px;
    text-align: center;
    color: #181818;
    z-index: 10;
    word-wrap: break-word;
}

#projectsBody #projectListItem {
    max-width: 460px;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 0 .5em 2px rgba(0, 0, 0, .3);
    margin-right: .7rem;
    margin-left: .7rem;
    transition: .5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;
    z-index: 25;
    position: inherit;
    height: 100%;
}

#projectsBody #projectListItem:hover {
    margin-top: -1.2rem;
    margin-bottom: 1.2rem;
    transition: .5s;
    box-shadow: 0 0 .5em 2px rgba(0, 0, 0, .5);
}

#projectsBody #projectListItem #liHeader {
    margin: .7rem;
}

#projectsBody #projectListItem #liHeader h2 {
    font-size: 1.35rem;
}

#projectsBody #projectListItem #liData {
    margin: .7rem;
    word-wrap: break-word;
}

#projectsBody #projectListItem #Link {
    text-align: center;
    padding: .4rem .3rem;
    width: 100%;
    background-color: #181818;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 0px;
}

#projectsBody #projectListItem a {
    color: white;
}

#projectsBody #projectListItem #Link:hover {
    background: linear-gradient(225deg, rgba(69, 67, 255) 0%, rgba(241, 81, 249) 100%);
}

.imageRadius {
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 0px 1px 0px rgb(100, 100, 100);
}

.technologies {
    margin-left: .7rem;
    margin-right: .7rem;
    margin-top: .1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.badge {
    font-size: 14px;
    margin-left: .25rem;
    margin-right: .25rem;
    margin-bottom: .4rem;
    padding: .25rem .5rem;
    background-color: #D9CCFF;
    border-radius: .25rem;
    color: rgb(40, 40, 40);
    display: inline-block;
    font-weight: 500;
    border: 1px solid #a28dff;
}

footer {
    background-color: #181818;
    padding: .9rem 1.6rem 1.4rem 1.6rem;
    color: #fff;
}

#footerUp {
    font-style: italic;
    text-align: center;
    padding-top: .6rem;
    padding-bottom: .9rem;
    padding-left: .6rem;
    padding-right: .6rem;
}

#footerDown {
    text-align: center;
    display: flex;
    justify-content: center;
}

footer #footerDown span {
    width: 50px;
    height: 11px;
    border-bottom: 2px #fff solid;
    margin: 0 1.2rem;
}