#openCloseButton {
    display: block;
}

#navbarParent {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
}

html:not([data-scroll="0"]) #navbarParent {
    height: 50px;
}

#navbar {
    height: 100%;
    padding: 0;
    background-color: #fff;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 1rem;
}

#navbar div {
    margin: 0;
}

#navbar a {
    color: #000;
    margin: 0rem;
    font-size: 1.25rem;
    font-weight: 500;
}

#navbarLinks {
    display: none;
    margin: .1rem .7rem .4rem .7rem !important;
}

#mobileNavOpenButton {
    display: block;
}

#mobileDropDownNav {
    display: block;
}

#mainPageSection {
    padding: 1.8rem .75rem;
}

#educationBody ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#projectsBody #projectListParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sideBarPositioning {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2501;
    margin-bottom: -3.5rem;
    transition: .8s;
}

#accounts {
    display: flex;
    flex-direction: row;
    padding-top: .1rem;
    justify-content: center;
    align-items: center;
}

.accountSvg {
    padding: .3rem .35rem .1rem;
    margin: .1rem;
}

.accountImageSize {
    width: 35px;
}

#educationBody ul {
    justify-content: center;
    align-items: center;
}

#educationBody li {
    min-width: 200px;
}

footer {
    padding: .9rem 1.6rem 1.4rem 1.6rem;
}