#openCloseButton {
    display: block;
}

#navbarParent {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 65px;
}

html:not([data-scroll="0"]) #navbarParent {
    height: 65px;
}

#navbar {
    height: 100%;
    padding: 0;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navbar a {
    color: #000;
    margin: .55rem .6rem .4rem .6rem;
}

#navbarLinks {
    margin: .1rem .7rem .4rem .7rem !important;
}

#educationBody ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

#projectsBody ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sideBarPositioning {
    position: absolute;
    bottom: .2rem;
    left: 50%;
    transform: translate(-50%,5%);
}

#accounts {
    display: flex;
    flex-direction: row;
    padding-top: .1rem;
    justify-content: center;
    align-items: center;
}

.accountSvg {
    padding: .2rem .35rem;
    margin: .1rem;
}